<div class="card">
    <div>
        <input class="input-player" type="text" id="player_1" placeholder="PLAYER 1" autocomplete="off">
        <input class="color" type="color" id="colorPlayer_1" value="#FF2D95">
    </div>

    <div>
        <input class="input-player" type="text" id="player_2" placeholder="PLAYER 2" autocomplete="off">
        <input class="color" type="color" id="colorPlayer_2" value="#3548f7">
    </div>
    <div class="container-button">
        <div class="reset-button" (click)="play()">reset</div>
    </div>
</div>
