.card {
    width: 35%;
    height: 30%;
    background-color: blue;
    position: absolute;
    top:35%;
    right: 32.5%;

    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    border-radius: 50px;
    font-family: GameFont;


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.input-player {
    background-color: #0000;
    height: 30px;
    border: none;
    border-bottom: 2px solid rgba(114, 111, 111, 0.575);
    font-size: 20px;
    outline: none;
    margin-right: 20px;
}

.color {
    height: 30px;
    background-color: #0000;
    border: none;
    position: relative;
    top: 10px;
}

.color::-webkit-color-swatch{
    border-radius: 5px;
}

.container-button {
    display: flex;
    width: 20%;
    height: 13%;
}
.reset-button {
    width: 100%;
    height: 100%;
    background: rgba($color: #9b9a9a, $alpha: 0.3);
    border-radius: 11px;
    text-align: center;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3px;

}