body {
    margin: 0px;
    background-color: #e0e0e0;
}


.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}


.grid-container {
    text-align: center;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows:200px 200px 200px;
}
  
.grid-item {
    border: 2px solid #6b6b6b;
    margin: 10px;
    padding-left: 10px;
    font-size: 100px;
    text-align: center;
    border-radius: 30px;
    background: #e3e3e3;
    box-shadow: inset 16px 16px 32px #afafaf,
                inset -16px -16px 32px #ffffff;
    border: none;
}

.turn-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.turn_to_play {
    font-family: GameFont;
    margin: 20px;
}
.shape-turn{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 60px;
}

.cross {
font-family: sans-serif;
color: #FFFFFF;
background: #e0e0e0;
text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, var(--colorPlayer_1) 0px 0px 20px, var(--colorPlayer_1) 0px 0px 30px, var(--colorPlayer_1) 0px 0px 40px, var(--colorPlayer_1) 0px 0px 50px, var(--colorPlayer_1) 0px 0px 75px;
}

.circle {
font-family: sans-serif;
color: #FFFFFF;
background: #e0e0e0;
text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, var(--colorPlayer_2) 0px 0px 20px, var(--colorPlayer_2) 0px 0px 30px, var(--colorPlayer_2) 0px 0px 40px, var(--colorPlayer_2) 0px 0px 50px, var(--colorPlayer_2) 0px 0px 75px;
}

