<div class="container">
    <app-score-board [players]="this.players" [score]="this.victory"></app-score-board>
    <app-player-card (Players)="setPlayers($event)" *ngIf="showPlayerCard === true" ></app-player-card>
    <div class = 'grid-container'>
        <button *ngFor="let case of cases" class = 'grid-item' id = '{{case}}' (click)='putShape(case)'></button>
    </div>
        <div class="turn-container">
            <h1 class="turn_to_play">It's</h1>
            <span class="shape-turn" [ngClass]="{'cross': CurrentPlayer === 'X',
                            'circle': CurrentPlayer === 'O'
                            }">{{CurrentPlayer}} </span>
            <h1 class="turn_to_play">turn</h1>
        </div>

    <app-victory [score]='this.victory' [players]="this.players" (reset)="resetGrid()"></app-victory>
</div>
   