<div class="score-board">
    <div class="shapeCross"> X </div>
    <div>
        <h3 class="player">{{player_1}}</h3>
        <div id="cross-point" class="point">{{this.crossScore}}</div>
    </div>
    <div class="line"></div>
    <div>
        <h3 class="player">{{player_2}}</h3>
        <div id="circle-point" class="point">{{this.circleScore}}</div>
    </div>
    <div class="shapeCircle"> O </div>
</div>