.score-board {
    width: 600px;
    height: 100px;
    border-radius: 28px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.player {
    font-family: GameFont;
}

.point {
    text-align: center;
    font-family: GameFont;
    font-size: 40px;
}

.line {
    border: 2px solid black;
    height: 70px;
}

.shapeCross {
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 60px;
    background: #e0e0e0;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, var(--colorPlayer_1) 0px 0px 20px, var(--colorPlayer_1) 0px 0px 30px, var(--colorPlayer_1) 0px 0px 40px, var(--colorPlayer_1) 0px 0px 50px, var(--colorPlayer_1) 0px 0px 75px;
}

.shapeCircle {
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 60px;
    background: #e0e0e0;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, var(--colorPlayer_2) 0px 0px 20px, var(--colorPlayer_2) 0px 0px 30px, var(--colorPlayer_2) 0px 0px 40px, var(--colorPlayer_2) 0px 0px 50px, var(--colorPlayer_2) 0px 0px 75px;
}