/* You can add global styles to this file, and also import other style files */
body {
    margin: 0px;
    background-color: #e0e0e0;

}

@font-face {
    font-family: GameFont;
    src: url("/assets/fonts/GameFont/Games-Italic.ttf");
}