
<div *ngIf="this.showVictoryCard === true" class="card">
    <h1 class="victory-text">{{winner}}</h1>

    <div class="container-button">
        <div class="reset-button" (click)="resetGrid()">reset</div>
    </div>
</div>
